<!DOCTYPE html>
<html>
<head>
    <title>Email enviado</title>

    <style>
        body {
            font-family: 'Segoe UI';
            background: linear-gradient(135deg, #273c75, #40739e);
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            background: white;
            padding: 30px;
            border-radius: 12px;
            text-align: center;
        }
    </style>
</head>

<body>

<div class="card">
    <h2>📩 Email enviado!</h2>
    <p>Verifique o terminal (modo teste).</p>
</div>

</body>
</html>